{% extends "website/base.html" %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Article Digestion</h1>
            <p class="lead text-muted">Thi site uses natural language processing to create a summary of an article
                in a website.
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="form-group">
                <label for="inputUrl">Enter a URL below and click on Digest to generate a summary of the
                    article in the url.</label>
                <input type="email" class="form-control" id="inputUrl" aria-describedby="emailHelp"
                       placeholder="Enter URL">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="urlDigestionSubmit">Digest</button>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <textarea class="form-control rounded-0" id="outputUrl" rows="30" cols="100"
                          placeholder="Article digestion here..."></textarea>
            </div>
        </div>


    </div>
{% endblock %}
