<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--    <link rel="icon" href="../../../../favicon.ico">-->

    <title>Article Digestion</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>


</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Article Digestions</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">About</a></li>
        </ul>
      </div>
    </nav>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Article Digestion</h1>
            <p class="lead text-muted">Thi site uses natural language processing to create a summary of an article
                in a website or content copy pasted to this website.
        </div>
    </section>

    <div class="container">
        <h2>URL Digestion</h2>
        <div class="row">
            <div class="form-group">
                <label for="inputUrl">Enter a URL below and click on Digest to generate a summary of the
                    article in the url.</label>
                <input type="email" class="form-control" id="inputUrl" aria-describedby="emailHelp"
                       placeholder="Enter URL">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="urlDigestionSubmit">Digest</button>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <textarea class="form-control rounded-0" id="outputUrl" rows="10" cols="100"
                          placeholder="Article digestion here..."></textarea>
            </div>
        </div>


    </div>


    <div class="container">
        <h2>Article Digestion</h2>
        <div class="row">
            <div class="form-group">
                <label for="articleInput">Copy paste article below and click on Digest.</label>
                <textarea class="form-control rounded-0" id="articleInput" rows="10" cols="100"
                          placeholder="Article content here..."></textarea>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <button type="button" class="btn btn-primary">Digest</button>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <textarea class="form-control rounded-0" id="outputArticle" rows="10" cols="100"
                          placeholder="Article digestion here..."></textarea>
            </div>
        </div>


    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="/">Back to top</a>
        </p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/digestion.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- This is how to include a static file -->
</body>
</html>
